// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Materialize
@import '~materialize-css/sass/materialize';

html, body, #app {
    height: 100%;
    width: 100%;
}

.container {
    min-height: 600px;
    height: 100%;
}
